In [41]:
import pandas as pd

In [42]:
#Cargamos nuestra base de datos en un DataFrame de Pandas:

MoviesDataset = pd.read_csv("DataSets/movies_dataset.csv", sep=',', low_memory=False)

In [43]:
#Para ver cuántos datos nulos tenemos en nuestro dataset:

MoviesDataset.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

Revenue, budget y return

In [44]:
#Para rellenar los valores nulos de la columna revenue:

MoviesDataset['revenue'].fillna(0, inplace=True)

In [45]:
#Eliminamos las filas que tengan valor nulo en la columna release_date
MoviesDataset.dropna(subset=['release_date'], inplace=True)

#Creamos la columna release year:
MoviesDataset["release_year"]=None

#Para rellenar los valores de la columna release year:
for i in range(0,len(MoviesDataset)):
    MoviesDataset.loc[i,"release_year"] = int(MoviesDataset.release_date.iloc[i][:4])

In [46]:
#Creamos la columna Return:
MoviesDataset["return"]=None

#Para transformar los valores de budget a float y transformar los valores que no sean numéricos a 0:

for i in range(0,len(MoviesDataset)):
    try:
        MoviesDataset.loc[i, "budget"] = float(MoviesDataset.budget.iloc[i])
    except ValueError:
        MoviesDataset.loc[i, "budget"]=0

#Para cargar los datos a la columna revenue:

for i in range(len(MoviesDataset)):
    if MoviesDataset.budget.iloc[i] == 0:
        MoviesDataset.loc[i, "return"] = 0
    else:
        try :
            MoviesDataset.loc[i, "return"] = MoviesDataset.revenue.iloc[i] / MoviesDataset.budget.iloc[i]
        except TypeError:
            MoviesDataset.loc[i, "return"] = 0

Columnas innecesarias

In [47]:
#Para eliminar las columnas innecesarias:

columnas_a_eliminar = ["video","imdb_id","adult","poster_path", "homepage", "original_title"]

MoviesDataset.drop(columnas_a_eliminar, axis=1,inplace=True)

In [48]:
MoviesDataset.head()

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_year,return
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,7.7,5415.0,1995,12.451801
1,NaN,65000000.0,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0.0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,en,A family wedding reignites the ancient feud be...,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0
3,NaN,16000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.09076
4,"{'id': 96871, 'name': 'Father of the Bride Col...",0.0,"[{'id': 35, 'name': 'Comedy'}]",11862,en,Just when George Banks has recovered from his ...,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0

Desanidar columnas

In [49]:
import ast

MoviesDataset['belongs_to_collection'] = MoviesDataset['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])

collection_names = [] 

TotalElementos = len(MoviesDataset)

#Para iterar en los elementos y desanidar los datos:
for i in range(TotalElementos):
    try:
        if type(MoviesDataset.belongs_to_collection[i]) == dict:
            collection_names.append(MoviesDataset.belongs_to_collection[i]["name"])
        else:
            collection_names.append([])
        
    except KeyError:
        collection_names.append([])

# Crear una nueva columna con los nombres de la colección:
MoviesDataset['collection_name'] = collection_names

# Eliminar la columna anidada:
MoviesDataset = MoviesDataset.drop('belongs_to_collection', axis=1)

In [50]:

MoviesDataset['genres'] = MoviesDataset['genres'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])


genre_names = [] 

TotalElementos = len(MoviesDataset)

#Para obtener los valores anidados de la columna production_companies:
for i in range(TotalElementos):
    list_genres = []
    try:
        if type(MoviesDataset.genres[i]) == list:    
            for k in range(len(MoviesDataset.genres[i])):
                list_genres.append(MoviesDataset.genres[i][k]["name"])
            genre_names.append(list_genres)
        elif type(MoviesDataset.genres[i]) == dict:
            genre_names.append(MoviesDataset.genres[i]["name"])
        else:
            genre_names.append([])
    except KeyError:
        genre_names.append([])


MoviesDataset['genre_names'] = genre_names


MoviesDataset = MoviesDataset.drop('genres', axis=1)

In [51]:
import ast

MoviesDataset['production_companies'] = MoviesDataset['production_companies'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])


companies_names = [] 

TotalElementos = len(MoviesDataset)

#Para obtener los valores anidados de la columna production_companies:
for i in range(TotalElementos):
    list_companies = []
    try:
        if type(MoviesDataset.production_companies[i]) == list:    
            for k in range(len(MoviesDataset.production_companies[i])):
                list_companies.append(MoviesDataset.production_companies[i][k]["name"])
            companies_names.append(list_companies)
        elif type(MoviesDataset.production_companies[i]) == dict:
            companies_names.append(MoviesDataset.production_companies[i]["name"])
        else:
            companies_names.append([])
    except KeyError:
        companies_names.append([])


MoviesDataset['companies_names'] = companies_names


MoviesDataset = MoviesDataset.drop('production_companies', axis=1)

In [52]:
#Repetimos el mismo procedimiento en spoken languages:

MoviesDataset['spoken_languages'] = MoviesDataset['spoken_languages'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])


languages_names = [] 

TotalElementos = len(MoviesDataset)

for i in range(TotalElementos):
    list_languages = []
    try:
        if type(MoviesDataset.spoken_languages[i]) == list:    
            for k in range(len(MoviesDataset.spoken_languages[i])):
                list_languages.append(MoviesDataset.spoken_languages[i][k]["name"])
            languages_names.append(list_languages)
        elif type(MoviesDataset.spoken_languages[i]) == dict:
            languages_names.append(MoviesDataset.spoken_languages[i]["name"])
        else:
            languages_names.append([])
    except KeyError:
        languages_names.append([])


MoviesDataset['languages_names'] = languages_names


MoviesDataset = MoviesDataset.drop('spoken_languages', axis=1)

In [53]:
#Repetimos el procedimiento en la columna production_countries:

MoviesDataset['production_countries'] = MoviesDataset['production_countries'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])


countries_names = [] 

TotalElementos = len(MoviesDataset)

for i in range(TotalElementos):
    list_countries = []
    try:
        if type(MoviesDataset.production_countries[i]) == list:    
            for k in range(len(MoviesDataset.production_countries[i])):
                list_countries.append(MoviesDataset.production_countries[i][k]["name"])
            countries_names.append(list_countries)
        elif type(MoviesDataset.production_countries[i]) == dict:
            countries_names.append(MoviesDataset.production_countries[i]["name"])
        else:
            countries_names.append([])
    except KeyError:
        countries_names.append([])


MoviesDataset['countries_names'] = countries_names

MoviesDataset = MoviesDataset.drop('production_countries', axis=1)

In [54]:
MoviesDataset.head(5)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,release_year,return,collection_name,genre_names,companies_names,languages_names,countries_names
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,Toy Story,7.7,5415.0,1995,12.451801,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[English],[United States of America]
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995,4.043035,[],"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...","[English, Français]",[United States of America]
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995,0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[English],[United States of America]
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995,5.09076,[],"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[English],[United States of America]
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995,0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[English],[United States of America]

Merge Credits

In [55]:
#Obtenemos los datos de credits:
Credits = pd.read_csv("DataSets/credits.csv")

In [56]:
Credits

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862
...,...,...,...
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [57]:
#Para trasformar los valores de id del dataframe a enteros:

for i in range(TotalElementos):
    try:
        MoviesDataset.loc[i, "id"] = int(MoviesDataset.id[i])
    except KeyError:
        MoviesDataset.loc[i, "id"] = None
    except ValueError:
        MoviesDataset.loc[i, "id"]= None

In [58]:
#Para unir ambos dataframe:

MoviesDataset = pd.merge(MoviesDataset, Credits, on='id')

Desanidar columnas

In [59]:
#Mismo procedimiento para la columna cast:

MoviesDataset["cast"] = MoviesDataset['cast'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])


cast_names = [] 

TotalElementos = len(MoviesDataset)

for i in range(TotalElementos):
    list_cast = []
    try:
        if type(MoviesDataset.cast[i]) == list:    
            for k in range(len(MoviesDataset.cast[i])):
                list_cast.append(MoviesDataset.cast[i][k]["name"])
            cast_names.append(list_cast)
        elif type(MoviesDataset.cast[i]) == dict:
            cast_names.append(MoviesDataset.cast[i]["name"])
        else:
            cast_names.append([])
    except KeyError:
        cast_names.append([])


MoviesDataset['cast_names'] = cast_names


MoviesDataset = MoviesDataset.drop('cast', axis=1)

In [60]:
#Mismo procedimiento para la columna crew:

MoviesDataset["crew"] = MoviesDataset['crew'].apply(lambda x: ast.literal_eval(x) if pd.notnull(x) else [])


crew_names = [] 

TotalElementos = len(MoviesDataset)

for i in range(TotalElementos):
    list_crew = []
    try:
        if type(MoviesDataset.crew[i]) == list:    
            for k in range(len(MoviesDataset.crew[i])):
                list_crew.append(MoviesDataset.crew[i][k]["name"])
            crew_names.append(list_crew)
        elif type(MoviesDataset.crew[i]) == dict:
            crew_names.append(MoviesDataset.crew[i]["name"])
        else:
            crew_names.append([])
    except KeyError:
        crew_names.append([])


MoviesDataset['crew_names'] = crew_names


MoviesDataset = MoviesDataset.drop('crew', axis=1)

In [61]:
MoviesDataset

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_count,release_year,return,collection_name,genre_names,companies_names,languages_names,countries_names,cast_names,crew_names
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,5415.0,1995,12.451801,Toy Story Collection,"[Animation, Comedy, Family]",[Pixar Animation Studios],[English],[United States of America],"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[John Lasseter, Joss Whedon, Andrew Stanton, J..."
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249.0,104.0,Released,Roll the dice and unleash the excitement!,...,2413.0,1995,4.043035,[],"[Adventure, Fantasy, Family]","[TriStar Pictures, Teitler Film, Interscope Co...","[English, Français]",[United States of America],"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[Larry J. Franco, Jonathan Hensleigh, James Ho..."
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.7129,1995-12-22,0.0,101.0,Released,Still Yelling. Still Fighting. Still Ready for...,...,92.0,1995,0,Grumpy Old Men Collection,"[Romance, Comedy]","[Warner Bros., Lancaster Gate]",[English],[United States of America],"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[Howard Deutch, Mark Steven Johnson, Mark Stev..."
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156.0,127.0,Released,Friends are the people who let you be yourself...,...,34.0,1995,5.09076,[],"[Comedy, Drama, Romance]",[Twentieth Century Fox Film Corporation],[English],[United States of America],"[Whitney Houston, Angela Bassett, Loretta Devi...","[Forest Whitaker, Ronald Bass, Ronald Bass, Ez..."
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911.0,106.0,Released,Just When His World Is Back To Normal... He's ...,...,173.0,1995,0,Father of the Bride Collection,[Comedy],"[Sandollar Productions, Touchstone Pictures]",[English],[United States of America],"[Steve Martin, Diane Keaton, Martin Short, Kim...","[Alan Silvestri, Elliot Davis, Nancy Meyers, N..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45446,0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0.0,104.0,Released,NaN,...,26.0,None,0,[],[],"[Studioz IDrream, MacGuffin Pictures]","[বাংলা, English]",[India],"[Patrick Bergin, Uma Thurman, David Morrissey,...","[John Irvin, Sam Resnick, John McGrath, Sam Re..."
45447,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0.0,360.0,Released,NaN,...,3.0,None,0,[],"[Fantasy, Comedy, Romance, Drama]","[Fox Star Studios, Clean Slate Films]",[हिन्दी],[India],"[Angel Aquino, Perry Dizon, Hazel Orencio, Joe...","[Lav Diaz, Lav Diaz, Dante Perez, Lav Diaz, La..."
45448,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0.0,90.0,Released,A deadly game of wits.,...,6.0,None,0,[],"[Comedy, Romance]",[Wise Vision],[Pусский],[Ukraine],"[Erika Eleniak, Adam Baldwin, Julie du Page, J...","[Mark L. Lester, C. Courtney Joyner, Jeffrey G..."
45449,0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0.0,87.0,Released,NaN,...,0.0,None,0,[],[Adventure],"[Roas Produzioni, Buton Film]",[Italiano],[Italy],"[Iwan Mosschuchin, Nathalie Lissenko, Pavel Pa...","[Yakov Protazanov, Joseph N. Ermolieff]"
45450,0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0.0,75.0,Released,NaN,...,0.0,None,0,[],"[Documentary, Foreign]",[],[English],[United Kingdom],[],[Daisy Asquith]

Exportar Dataset

In [62]:
#Para exportar la base de datos a un archivo csv:

MoviesDataset.to_csv('DataSets/movies_dataset_final.csv', index=False)